<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>#王源王牌对王牌# 为了感谢偶像帮忙制作新歌，#王源# 曾给#林俊杰# 写了一封信，没想到得到了的回信，JJ在信里称赞王源很认真很懂事、正能量！王源更说林哥哥是从他艺路上的航站灯。好的爱豆就是给予大家正能量，彼此都成为那个更好的自己 http://www.baidu.com</string>
	<string>#高能少年团#大家自带BGM跟着五位小哥哥左手右手动起来~终于等到开播！#王俊凯# #张一山# #刘昊然# #董子健# #王大陆# 五位高能少年今晚准时发车！https://www.apple.com 你为谁而看？</string>
	<string>愚人节哈皮啦！古有神农尝百草，今有我大张伟多种口味泡奥利奥，越泡越嗨！！就是这个feel，先来泡杯82年的红酒，味道倍儿爽。奶茶、可乐……不都来一遍怎么行，大家陪我嗨，一起泡泡泡泡起来！http://www.weibo.com #怎样泡到奥利奥#(ˊᵒ̴̶̷̤ꇴᵒ̴̶̷̤ˋ)꒰@奥利奥官方微博 ​​​​</string>
	<string>#菅田将晖本田翼恋情#曝光，日媒称#菅田将晖#和#本田翼#因去年共演电视剧《校阅女孩河野悦子》相知，两人都喜欢漫画而逐渐加深了对彼此的了解，杀青后也一直保持联系，最终发展成恋人。本田翼在2015年时曾被曝光和男演员#三浦翔平#的恋情，日媒称两人已经在去年夏天分手。 ​​​​</string>
	<string>#王先生的四月天##王牌队长王源##王牌对王牌##王源# @TFBOYS-王源 致敬黄磊老师《我想我是海》戴眼镜的王老师好有气质</string>
	<string>#王俊凯##王俊凯高能少年团# 还有2个小时，等待图上的静态俊凯变成电视机里动态俊凯。@TFBOYS-王俊凯 ​​​​</string>
	<string>进攻还是防守？联盟还是单打独斗？套路还是被套路？今晚十点来浙江卫视 #二十四小时# ，这场特殊能力大对决等你来看！@陈坤 @吴磊LEO @大张伟 @_董大力 @周游_希望小学周主任 @浙江卫视二十四小时 ​​​​</string>
	<string>#爱豆驾到##孙坚#四月最新大片曝光！一动一静透露着无所畏惧的倔强，如他的名字一般，是明媚笑容背后的坚强[心]你，被这个美少年套牢了嘛？[害羞]@孙坚官方粉丝联盟 ​​​​</string>
	<string>#云巅之上陈晓# 在《云巅之上》第二季的戏中戏里，@陈晓 高难度反串扮演虞姬，卿本佳人、别有韵味，表示被美到[害羞]大家给#陈晓# 的这段走心反串打几分？L秒拍视频 @陈晓粉丝后援团 ​​​​</string>
	<string>#爱豆驾到# 再高的颜值，也需要时尚单品的点缀，豆哥发现小鲜肉们都爱它！可萌可攻的边框眼镜，衬得一众小哥哥更加青春洋溢呢！#王俊凯# #张一山# #吴亦凡# #白敬亭# 等等小哥哥，你觉得谁戴眼镜最好看？我发起了一个投票：R#爱豆驾到#谁戴眼镜最好看？ ​​​​</string>
	<string>#王俊凯高能少年团# [喵喵] #王俊凯高能预警# 离遇见高能小俊@TFBOYS-王俊凯 还有24小时！小心脏扑通扑通扑通的跳[偷乐][偷乐][偷乐] ​​​​</string>
	<string>#高能少年团#
  #王俊凯高能预警#   nike 美国官网和日本官网  @TFBOYS-王俊凯 ​​​​</string>
	<string>“斧头帮的快来啊！！#逗你玩#”L金池jinchi矜持的秒拍视频 (使用#秒拍#录制,免流量看热门短视频!) ​​​​</string>
	<string>#陈伟霆南方有乔木##陈伟霆InsideMe巡演#  最终今天没啥愚人节创意，我们打算开诚布公说真话 ​​​​</string>
	<string>“#明星悬赏令#视频里秒仔所说的内容听清了吗？你们的语速够快吗？#黄景瑜十秒不NG#大家一起来挑战吧！”LJohnny黄景瑜的秒拍视频 (使用#秒拍#录制,免流量看热门短视频!) ​​​​</string>
	<string>#刘诗诗旗袍# 旗袍加身的#刘诗诗# 总能惊艳到我们，婀娜的身段配上精致的旗袍，诗诗将特有的东方古典美演绎的淋漓尽致，优雅知性，大气高贵，所谓伊人，大概就是这样[心]@刘诗诗粉丝地盘 ​​​​</string>
	<string>#薛之谦##傅园慧##田亮##李光洙# 那些逗逼好笑瞬间！最后一张我能笑一宿 ​​​​</string>
	<string>#郑秀妍# 170401 ins Live @Sy__Jessica ，露着锁骨的长发小姐姐，卸妆准备睡觉觉[心]睡得太早没看到直播的各位，就当提前过了愚人节了[泪] #郑秀妍0418生日快乐# </string>
	<string>#袁姗姗马甲线# 励志女神#袁姗姗# 的马甲线都升级2.0版！超厉害啊我的姗[爱你]所以女神令人羡慕的马甲线是怎么炼成的？完美身材的背后付出的是汗水和坚持[good]L秒拍视频 @袁姗姗后援会 ​​​​</string>
	<string>遇见从前的你】160331风度拍摄花絮
灯光下你温柔深邃的眼神，
让人抗拒不了的魅力，
无一不让我沉醉。
视频戳L秒拍视频
@努力努力再努力x #张艺兴##张艺兴求婚大作战# ​​​​</string>
</array>
</plist>
